
.main {
  max-width: 900px;
}

h1 {
    font-size: 1.25rem;
    color: #151f6d;
    font-weight: bold;
}

h2 {
    font-size: 1rem;
    color: #151f6d;
    font-weight: bold;
  }

p{
  font-size: .8rem;
}

tr {
  /* background-color: #FF8448; */
  text-align: right;
}

td {
  /* background-color: #0099FF; */
}
table {
  font-size: .8rem;
  color: #000000;
}


/* Style for hovering over bubbles */
.bubbles:hover {
  stroke: black;
}

.footer {
  font-size: .75rem;
  float: right;
}

.tooltip {
  max-width: 150px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: .8rem;
  background: #ffffff;
  color: #000000;
  border-radius: 5px;
  border: 1px solid #000;
}

p.tooltip {
  font-size: .8rem;
  color: "#ccc000";
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
}

/* We tell all items to be 100% width, via flex-basis */
.wrapper > * {
  flex: 1 100%;
}

svg {
  background: #ffffff;
}

button{
  display: block;
  padding: 0.5em 0.5em;
  border: none;
  color: #000000;
  background: #ffffff;
  width: 100%;
  font-family: sans-serif;
  font-size: .75em;
  cursor: pointer;
  text-align: left;
  margin: 0 0 3px;
  min-height: 20px;
  border-left: 8px solid #ccc;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

button:hover{
  background: #ccc;
}


/* .chapter_gastro {
    border-left: 8px solid #6481c6;
}

.chapter_cardio {
    border-left: 8px solid #4ac158;
}
.chapter_resp {
    border-left: 8px solid #c451ba;
}
.chapter_cns {
    border-left: 8px solid #7ab43d;
}
.chapter_infections {
    border-left: 8px solid #7963cf;
}
.chapter_endorcrine {
    border-left: 8px solid #b0b639;
}
.chapter_obs_gynae {
    border-left: 8px solid #d94279;
}
.chapter_malignant_immunosup {
    border-left: 8px solid #468938;
}
.chapter_nutrition_blood {
    border-left: 8px solid #d38cca;
}
.chapter_msk {
    border-left: 8px solid #d8992e;
}
.chapter_eye {
    border-left: 8px solid #49b9d3;
}
.chapter_ent {
    border-left: 8px solid #d24d33;
}
.chapter_skin {
    border-left: 8px solid #5cc396;
}
.chapter_vaccine {
    border-left: 8px solid #984c80;
}
.chapter_anaesthesia {
    border-left: 8px solid #9cb26a;
}
.chapter_diagnosis {
    border-left: 8px solid #be5b63;
}
.chapter_other {
    border-left: 8px solid #36845f;
}
.chapter_dressing {
    border-left: 8px solid #e68f6d;
}
.chapter_appliance {
    border-left: 8px solid #6f7128;
}
.chapter_incontinence {
    border-left: 8px solid #9d5f2c;
}
.chapter_stoma {
    border-left: 8px solid #c6a059;
} */

/* We rely on source order for mobile-first approach
 * in this case:
 * 1. header
 * 2. article
 * 3. aside 1
 * 4. aside 2
 * 5. footer
 */

/* Medium screens */
@media all and (min-width: 400px) {
  /* We tell both sidebars to share a row */
  .main {
    flex: 4 0px;
    margin: auto;
  }

  .aside-1 {
    flex: 1 auto;
    max-width: 200px;
  padding-right: 15px;}

  .aside-2 {
    flex: 1 auto;
    max-width: 200px;
  padding-right: 15px;}
}



/* Large screens */
@media all and (min-width: 900px) {
  /* We invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars
   */
  .main {
    flex: 4 0px;
  }

  .aside-1 {
    order: 1;
    max-width: 250px;
  }
  .main    {
    order: 2;
  }
  .aside-2 {
    order: 3;
    max-width: 250px;
  }
  .footer  {
    order: 4;
  }
}
